body{
    background-color: #E8E8E8;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 15px;
    margin: 0;
    overflow-x: hidden;
    color: #333A56;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #333A56;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
}

.navbar a{
    text-decoration: none; 
    color: white;
    padding: 20px;
    font-size: 15px;
}

.header{
    background-color: white;
    width: 100%;
    height: 250px;
    padding: 17vh 0 17vh 0;
    position: relative;
}

.profile{
    background-image: url("profile.jpg");
    background-size: 155px 160px;
    background-position: center;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.header h2{
    color: #333A56;
    text-align: center;
}

.header p{
    color: #333A56;
    text-align: center;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    background-color: transparent;
    margin-left: 7%;
    font-size: 20px;
    border: none;
    color: #333A56;
    padding-top: 20px;
    text-decoration: none;
    cursor: pointer;
}

.button2{
    margin-left: 20px;
    padding: 0;
}

.container{
    max-width: 80%;
    margin: 0px auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 50px;
}

.box-item{
    position: relative;
    width: 300px;
    height: auto;
    margin: 30px 20px;
}

#box1{
    order: 1;
}

#box2{
    order: 2;
}

#box3{
    order: 3;
}

#box4{
    order: 4;
}

#box5{
    order: 5;
}

#box6{
    order: 6;
}

#box7{
    order: 7;
}

#box8{
    order: 8;
}

#box9{
    order: 9;
}

.box-photo{
    background-color: #7c8199;
    width: 300px;
    height: 300px;
    transition: width .5s, height .5s, transform .5s;
}

.box-photo:hover{
    width: 310px;
    height: 310px;
    transform: translate(-5px, 0px);
}

.box-content{
    position: relative;
    padding: 2.5px 5px 2.5px 5px;
    font-size: smaller;
    background-color: white;
}

.footer {
    height: auto;
    padding: 20px;
    background-color: #333A56;
}

.footer p{
    text-align: center;
    color:white;
    text-decoration: none;
}

.contact-list{
    margin: 0 auto;
    width: 100px;
    height: 25px;
}

.contact-list a{
    text-decoration: none;
}

/* Small Laptop Screen */
@media only screen and (max-width: 1024px) and (min-width: 769px){
    .button{
        margin-left: 8%;
    }

    .button2{
        margin-left: 10px;
    }
}

/* Tablet Screen Landscape*/
@media only screen 
  and (min-device-width: 426px) 
  and (max-device-width: 768px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .header{
        padding: 31.9vh 0 31.9vh 0;
    }

}

/* Tablet Screen Portrait */
@media only screen and (min-width: 426px) and (max-width: 768px){
    .content{
        font-size: 20px;
        padding-top: 10px;
    }
    .box-content{
        height: 135px;
        font-size: 15px;
    }

    .box-item{
        width: 250px;
    }
    .box-photo{
        width: 250px;
        height: 250px;
    }

    .box-photo:hover{
        width: 260px;
        height: 260px;
        transform: translate(-5px, 0px);
    }

    .button{
        margin-left: 7%;
    }

    .button2{
        margin-left: 15px;
    }
}

/* Mobile Screen Landscape*/
@media only screen and (max-device-width: 426px) 
  and (orientation: landscape){
    .header{
        padding: 31.9vh 0 31.9vh 0;
    }
}

/* Mobile Screen Portrait*/
@media only screen and (max-width: 426px) and (min-width: 376px){
    .header{
        padding: 31.9vh 0 31.9vh 0;
    }
    .profile{
        background-size: 130px 135px;
        width: 125px;
        height: 125px;
    }

    .navbar a{
        font-size: 10px;
        padding: 15px;
    }

    .content{
        font-size: 12px;
        padding-top: 20px;
    }

    .box-item{
        width: 200px;
    }

    .box-photo{
        width: 200px;
        height: 200px;
    }

    .box-photo:hover{
        width: 210px;
        height: 210px;
        transform: translate(-5px, 0px);
    }

    .button{
        font-size: 12.5px;
        margin-left: 13%;
    }

    .button2{
        margin-left: 10px;
    }

    .footer{
        font-size: 12.5px;
    }
}

@media only screen and (max-width: 376px) and (min-width: 321px){
    .header{
        padding: 31.9vh 0 31.9vh 0;
    }

    .profile{
        background-size: 130px 135px;
        width: 125px;
        height: 125px;
    }
    .button{
        font-size: 12.5px;
        margin-left: 11%;
    }

    .button2{
        margin-left: 10px;
    }

    .navbar a{
        font-size: 10px;
        padding: 15px 10px;
    }
    .content{
        font-size: 12px;
        padding-top: 20px;
    }

    .box-item{
        width: 200px;
    }

    .box-photo{
        width: 200px;
        height: 200px;
    }

    .box-photo:hover{
        width: 210px;
        height: 210px;
        transform: translate(-5px, 0px);
    }

    .footer{
        font-size: 12.5px;
    }
}

@media only screen and (max-width: 321px){
    .header{
        padding: 31.9vh 0 31.9vh 0;
    }

    .profile{
        background-size: 130px 135px;
        width: 125px;
        height: 125px;
    }
    .button{
        font-size: 12.5px;
        margin-left: 9%;
    }

    .button2{
        margin-left: 10px;
    }

    .navbar a{
        font-size: 10px;
        padding: 15px 10px;
    }
    .content{
        font-size: 12px;
        padding-top: 20px;
    }

    .box-item{
        width: 200px;
    }

    .box-photo{
        width: 200px;
        height: 200px;
    }

    .box-photo:hover{
        width: 210px;
        height: 210px;
        transform: translate(-5px, 0px);
    }

    .footer{
        font-size: 12.5px;
    }
}

